### Análise da Taxa de Analfabetismo no Brasil para Pessoas de 15 Anos ou Mais (2016-2022)


Este projeto foi desenvolvido para auxiliar uma colega no curso [Profissão: Ciêntista de dados da EBAC](https://ebaconline.com.br/cientista-de-dados), o projeto tem como objetivo analisar a taxa de analfabetismo entre pessoas com 15 anos ou mais em todas as Unidades da Federação do Brasil no período de 2016 a 2022. Utilizando dados públicos fornecidos pela API do Instituto Brasileiro de Geografia e Estatística (IBGE), extraímos informações sobre as taxas de analfabetismo por estado e por ano.


Para este projeto, empregaremos a linguagem de programação Python juntamente com a biblioteca pandas para transformar os dados recebidos em formato JSON para um formato tabular. Em seguida, os dados serão exportados para um arquivo Excel, facilitando a análise e interpretação posterior.

### 1. Importando as bibliotecas 

Neste projecto vamos apenas usar duas biblitecas: 
- **Pandas**: Para a manipulação da estrutura de dados
- **requests**: Para fazermos a requisição na base de dados do ibge

In [11]:
# Importando as bibliotecas
import pandas as pd
import requests

### 2. Pegando as informações da API

In [12]:
response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/7125/periodos/2016|2017|2018|2019|2022/variaveis/10267?localidades=N3[all]&classificacao=86[95251]|58[2795]')
data = response.json()

# verificar se temos sucesso
print(response.status_code)

200

### 3. Manipular a informação e fazer o devido processamento

In [13]:
linhas = []
for item in  data[0]['resultados'][0]['series']:
    estado = item['localidade']['nome']
    serie = item['serie']

    linha = {
        'Estado': estado,
        '2016': serie.get('2016'),
        '2017': serie.get('2017'),
        '2018': serie.get('2018'),
        '2019': serie.get('2019'),
        '2022': serie.get('2022'),
    }
    linhas.append(linha)

df = pd.DataFrame(linhas)
df.head()

     Estado  2016  2017  2018  2019 2022
0  Rondônia   6.0   6.5   5.8   5.7  4.9
1      Acre  12.3  11.5  11.3  10.9  8.5
2  Amazonas   6.6   5.9   5.5   5.1  4.9
3   Roraima   6.1   5.6   5.5   4.6  3.9
4      Pará   8.6   8.2   8.2   7.8  7.4

### 4. Salvar a informação no excel

In [14]:
df.to_excel('taxa_analfabetismo_2016_2022.xlsx', index=False)

print("Dados exportados para o arquivo taxa_analfabetismo_2016_2022.xlsx")

Dados exportados para o arquivo taxa_analfabetismo_2016_2022.xlsx